.text-acomodo{
    top: 30%; 
    right: 10%; 
    margin-left: 25%;
}

footer{
    background: linear-gradient(to left, #1c618e 0%, #195c88 50%, #0a293d 100%);
}

#boton-enviar{
    background-color: rgb(125, 226, 43);
    border-radius: 5px;
}

.boton-comprar{
    background-color: rgb(58, 188, 86);
    border-radius: 5px;
}

.difuminar{
    filter: brightness(0.5);
}

img{
    vertical-align: middle;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: aqua;
}

.col a{
    margin: 3;
}